@model User

<h2>Create New User</h2>

<form asp-action="Create" method="post">
    <label>First Name:</label>
    <input asp-for="FirstName" class="form-control" />
    <label>Last Name:</label>
    <input asp-for="LastName" class="form-control" />
    <label>Email:</label>
    <input asp-for="Email" class="form-control" />
    <label>Phone:</label>
    <input asp-for="Phone" class="form-control" />
    <label>Username:</label>
    <input asp-for="Username" class="form-control" />
    <label>Birth Date:</label>
    <input asp-for="BirthDate" class="form-control" />
    <label>Role:</label>
    <input asp-for="Role" class="form-control" />
    <br />
    <button type="submit" class="btn btn-success">Add User</button>
</form>
